body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  color: #252831;
  line-height: 1.5;
}

p {
  margin: 0;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #252831;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: #252831;
}

a:hover, a:focus {
  color: #5E667D;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.7rem 0;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #252831;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

.title {
  margin: auto;
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}

main {
  min-height: calc(100vh - 60px);
  margin: 60px auto auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.col {
  width: 100%;
}

.map {
  height: 100%;
}

.errors {
  text-align: center;
  font-size: 1.2rem;
}

.info {
  margin-bottom: 50px;
}

#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 2;
  margin-top: 0;
}

.map-container {
  background: white none repeat scroll 0 0;
  height: 400px;
  width: 95%;
  margin: 0 auto;
}

.info-container {
  text-align: left;
}

#filter {
  padding: 15px;
  background-color: #97A4C9;
}

#filter h2 {
  margin: 0;
}

.instructions {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.input-search {
  border: 1px solid #252831;
  margin: 6px 0;
  padding: 5px;
}

.stations-header {
  padding: 0 15px;
  margin: 10px 0;
}

.stations-list {
  padding: 0 15px;
  margin: 0 0 20px 0;
}

.one-station-box {
  background-color: #f3f3f3;
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.index-description {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.good {
  background-color: #00E400;
}

.moderate {
  background-color: #FFFF00;
}

.unhealthy1 {
  background-color: #FF7E00;
}

.unhealthy {
  background-color: #FF0000;
}

.unhealthy3 {
  background-color: #8F3F97;
}

.hazardous {
  background-color: #7E0023;
}

.index {
  text-transform: uppercase;
  font-weight: bold;
}

.show-details {
  border: none;
  background-color: transparent;
  color: #252831;
  text-decoration: underline;
  font-size: 0.9rem;
}

.show-details:hover {
  color: #5E667D;
}

button#close-details {
  background-color: #252831;
  border: none;
  color: white;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 15px 0;
}

button#close-details:hover {
  background-color: #5E667D;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: #aaa;
  font-size: 0.7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem;
  height: 50px;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  padding: 15px;
}

.logo-wrapper {
  width: 100%;
  margin-top: 15px;
}

.logo-airly {
  margin: 0 auto;
}

footer p {
  color: white;
}

@media screen and (min-width: 980px) {
  .col {
    width: 50%;
  }
  .map {
    order: 2;
  }
  .info {
    order: 1;
  }
  .map-container {
    width: 50%;
    height: calc(100% - 60px);
    position: fixed;
    top: 60px;
    right: 0;
  }
  footer {
    width: 50%;
    right: 50%;
  }
}
